{% extends 'base.html.twig' %}

{% block title %}Panier - KALOS{% endblock %}

{% block body %}
{% include ('partials/header.html.twig') %}
    <div class="grow">

    </div>
{% include ('partials/footer.html.twig') %}
{% endblock %}
