<hr class="h-1.5 bg-cyan-300 border-0">
<footer class="flex items-center justify-center flex-col bg-gradient-to-r from-blue-500 via-white to-red-500">
    <h2>Informations sur nous</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-10 gap-5 lg:m-4 m-2">
        <h3>Notre Facebook : <a href="#"><i class="fa-brands fa-facebook-f"></i></a></h3>
        <h3>Notre Pinterest : <a href="#"><i class="fa-brands fa-pinterest"></i></a></h3>
        <h3>Notre Instagram : <a href="#"><i class="fa-brands fa-instagram"></i></a></h3>
        <h3>Notre Twitter : <a href="#"><i class="fa-brands fa-twitter"></i></a></h3>
    </div>
</footer>