{% extends 'base.html.twig' %}

{% block title %}Article - KALOS{% endblock %}

{% block body %}
{% include ('partials/header.html.twig') %}
    <div class="grow">
        <section class="min-h-screen flex items-center justify-center">

        </section>
    </div>
{% include ('partials/footer.html.twig') %}
{% endblock %}