{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
{% include ('partials/header.html.twig') %}
    <div class="grow">
        <section class="flex items-center justify-center">

        </section>
    </div>
{% include ('partials/footer.html.twig') %}
{% endblock %}
