{% extends 'base.html.twig' %}

{% block title %}Rôles - KALOS{% endblock %}

{% block body %}
{% include ('partials/header.html.twig') %}
    <div class="grow">
        <section>

        </section>
    </div>
{% include ('partials/footer.html.twig') %}
{% endblock %}