@import "tailwindcss";

body {
    font-family: Poppings, sans-serif;
}

@font-face {
    font-family: 'Blackletter';
    src: url('Blacklettersh.ttf') format('truetype');
}

@layer utilities {
    .gothic-font {
        font-family: 'Blackletter', sans-serif;
    }
}
.group {
    background: linear-gradient(45deg, #0055A4, #FFFFFF, #EF4135);  /* Dégradé bleu-blanc-rouge */
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;  /* Pour arrondir les bords des boutons */
}
.glow {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);  /* Glow blanc par défaut */
    transition: background 0.2s ease-in-out;
    opacity: 0;
}

.group:hover .glow {
    animation: whiteGlow 1.5s infinite linear;
    opacity: 1;  /* Rendre le glow visible lors du hover */
}