{% extends 'base.html.twig' %}

{% block title %}Photo - KALOS{% endblock %}

{% block body %}
    {% include ('partials/header.html.twig') %}
    <div class="grow">
        <section class="flex items-center justify-center min-h-screen bg-center bg-cover" style="background-image: url('{{ asset('images/image-background/saint-jeanne.png') }}')">

        </section>
    </div>
    {% include ('partials/footer.html.twig') %}
{% endblock %}
