{% extends 'base.html.twig' %}

{% block title %}Photo - KALOS{% endblock %}

{% block body %}
<section class="flex items-center justify-center min-h-screen bg-center bg-cover" style="background-image: url('{{ asset('images/image-background/saint-jeanne.png') }}')">
    <div class="">

    </div>
</section>
{% endblock %}
